<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scape=1.8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Unbounded&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/main.css" />
    <link rel="stylesheet" href="../styles/approveUsers.css" />
    <script src="../scripts/approveUsers.js"></script>
    <link rel="icon" href="images/ff-logo.png" />
    <title>FOLIO&FLEX</title>
  </head>
  <body>
    <!-- scroll to top -->
    <button onclick="topFunction()" id="myBtn" title="Go to top">︿</button>

    <!-- header -->
    <header class="side">
      <a href="Homepage" class="logo">
        <img src="../images/ff-logo.png" alt="Logo" />
      </a>
      <nav class="side-under">
        <nav class="side-menu">
          <a href="Home" id="home-menu" class="link">
            <img src="../images/home.png"/>
            <div class="menu-text">HOME</div>
          </a>
    
          <a href="Job offers" id="joboffers-menu" class="link">
            <img src="../images/joboffers.png"/>
            <div class="menu-text">JOB OFFERS</div>
          </a>

          <a href="Portfolios" id="portfolios-menu"class="link">
            <img src="../images/portfolios.png"/>
            <div class="menu-text">PORTFOLIOS</div>
          </a>

          <a href="Approve" id="aprovar-utilizadores" class="link-active">
            <img src="../images/portfolios.png"/>
            <div class="menu-text">APPROVE COMPANIES</div>
          </a>
        </nav>
    
        <nav class="side-footer">
          <a href="Profile" id="profile-menu" class="link">
            <img src="../images/profile.png"/>
            <div class="menu-text">PROFILE</div>
          </a>

          <a href="Team" class="link">
            <img src="../images/team.png"/>
            <div class="menu-text">ABOUT US</div>
          </a>

          <a href="out" class="link">
            <img src="../images/logout.png"/>
            <div class="menu-text">LOGOUT</div>
          </a>
        </nav>

      </nav>
    </header>
    <!-- header end -->

    <!-- main -->
    <section class="main">

      <section class="main-header"> <!-- main-header start -->
        <h1>Companies list</h1>
        <section class="buttons">
          <p class="name" id="admin-name-show">Admin</p>
          <a class="name" href="Profile">  </a>
          <a href="Profile" ><img id="profile" alt="Profile" /></a>
          </section>
          </section>
      
        <section class="users-list">
            <table class="" id="users-data">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>NAME</th>
                        <th>EMAIL</th>
                        <th>USER TYPE</th>
                        <th>ACCOUNT STATUS</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>

        </section>
      
  
  </section>

 
    <!-- main end -->
    
    <!-- scroll-top -->
    <script>
      mybutton = document.getElementById("myBtn");
      window.onscroll = function () {
        scrollFunction();
      };

      function scrollFunction() {
        if (
          document.body.scrollTop > 100 ||
          document.documentElement.scrollTop > 100
        ) {
          mybutton.style.display = "block";
        } else {
          mybutton.style.display = "none";
        }
      }
    </script>
     <script>
      const xhrUser = new XMLHttpRequest();
    xhrUser.open('GET', '/Profile/getUser', true);
    xhrUser.setRequestHeader('Content-Type', 'application/json');
    
        var profileImg = document.getElementById('profile');
        var profileImgProfile = document.getElementById('profile-img');
        var profileName = document.getElementById('profile-name');
        var profileLocation = document.getElementById('profile-address');
        var profileOccupation = document.getElementById('profile-occupation');
        var profileDescription = document.getElementById('profile-description');
        var menuPortfolios = document.getElementById('portfolios-menu');
        var menuJobOffers = document.getElementById('joboffers-menu');
        var menuHome = document.getElementById('home-menu');
        var menuProfile = document.getElementById('profile-menu');
        var menuApprove = document.getElementById('aprovar-utilizadores');
        var adminName = document.getElementById('admin-name-show');
    
        xhrUser.onload = function(){
            
            if(xhrUser.status === 200)
            {
                var dataUser = JSON.parse(xhrUser.responseText);
    
               const xhrUserData = new XMLHttpRequest();
               xhrUserData.open('GET', '/Profile/getUserDataP', true);
               xhrUserData.setRequestHeader('Content-Type', 'application/json');
    
                xhrUserData.onload = function(){
                    if(xhrUserData.status = 200){
    
                        var UserData = JSON.parse(xhrUserData.responseText);
                        
                        console.log(UserData[0]);
    
                        if(dataUser[0].tipo_utilizador == 'Profissional')
                        {
                            if(UserData[0].genero == 'Feminino')
                            {
                                profileImg.src = "../images/profile-female.png";
                                profileImgProfile.src = "../images/profile-female.png";
                            }
                            else if(UserData[0].genero == 'Masculino')
                            {
                                profileImg.src = "../images/profile-male.png";
                                profileImgProfile.src = "../images/profile-male.png";
                            }
                            else if(UserData[0].genero == 'other')
                            {
                                profileImg.src = "../images/profile-other.png";
                                profileImgProfile.src = "../images/profile-other.png";
                            }
                    
                            profileName.innerHTML = UserData[0].nome;
                            profileLocation.innerHTML = UserData[0].localidade;
                            profileOccupation.innerHTML = UserData[0].occupation;
                    
                            if(UserData[0].descricao == "")
                            {
                                profileDescription.innerHTML = "No description"
                            }
                            else
                            {
                                profileDescription.innerHTML = UserData[0].descricao;
                            }
    
                            menuPortfolios.style.display = "none";
                        }
                        if(dataUser[0].tipo_utilizador == 'Empresa')
                        {
                            menuJobOffers.style.display = "none";
                            profileName.innerHTML = UserData[0].nome;
                        
                        }
                        if(dataUser[0].tipo_utilizador == 'Admin')
                        {
                            menuHome.style.display = "none";
                            menuProfile.style.display = "none";
                            menuApprove.style.display = "inline";
                            menuJobOffers.style.display = "none";
                            profileImg.style.display = "none";
                            adminName.style.display = "block";
                        }
    
    
                    }
                   
                } 
    
                xhrUserData.send();
                console.log(dataUser[0]);
             }
        }  
        xhrUser.send();
    </script>
    <!-- scroll-top end -->
  </body>
</html>