<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scape=1.8"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Open+Sans&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Unbounded&display=swap" rel="stylesheet"/>
    <!-- CSS -->
    <link rel="stylesheet" href="../styles/main.css"/>
    <link rel="stylesheet" href="../styles/approveUsers.css"/>
    <!-- JavaScript -->
    <script src="../scripts/approveUsers.js"></script>
    <!-- Display -->
    <link rel="icon" href="images/icon.png"/>
    <title>FOLIO&FLEX</title>
  </head>
  <body>
     <!-- header -->
     <header class="side">
      <a href="Homepage" class="logo">
        <img src="../images/ff-logo.png" alt="Logo" />
      </a>
      <nav class="side-under">
        <nav class="side-menu">
          <a href="Home" id="home-menu" class="link-active">
            <img src="../images/home.png"/>
            <div class="menu-text">HOME</div>
          </a>
    
          <a href="Job offers" id="joboffers-menu" class="link">
            <img src="../images/joboffers.png"/>
            <div class="menu-text">JOB OFFERS</div>
          </a>

          <a href="Portfolios" id="portfolios-menu"class="link">
            <img src="../images/portfolios.png"/>
            <div class="menu-text">PORTFOLIOS</div>
          </a>

          <a href="Approve" id="aprovar-utilizadores" class="link-active">
            <img src="../images/approve.png"/>
            <div class="menu-text">APPROVE COMPANIES</div>
          </a>
        </nav>
    
        <nav class="side-footer">
          <a href="Profile" id="profile-menu" class="link">
            <img src="../images/profile.png"/>
            <div class="menu-text">PROFILE</div>
          </a>

          <a href="Team" class="link" id="team-page">
            <img src="../images/team.png"/>
            <div class="menu-text">ABOUT US</div>
          </a>

          <a href="out" class="link">
            <img src="../images/logout.png"/>
            <div class="menu-text">LOGOUT</div>
          </a>
        </nav>

      </nav>
    </header>
    <!-- header end -->

    <!-- main -->
    <section class="main">

      <section class="main-header"> <!-- main-header start -->
        <h1>Companies list</h1>
        <section class="buttons">
          <p class="name" id="admin-name-show">Admin</p>
          <a href="Profile" id="user-name-show"><img id="profile" alt="Profile" /></a>
        </section>
      </section> <!-- main-header start end -->
      
      <section class="users-list">
        <table class="" id="users-data">
          <thead>
            <tr>
              <th>ID</th>
              <th>NAME</th>
              <th>EMAIL</th>
              <th>USER TYPE</th>
              <th>ACCOUNT STATUS</th>
              <th>BUTTONS (?)</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </section>
      
    </section>
    <!-- main end -->    
  </body>
</html>