<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scape=1.8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Unbounded&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/main.css" />
    <link rel="stylesheet" href="../styles/index.css" />
    <script src="../scripts/index.js"> </script>
    <link rel="icon" href="images/ff-logo.png" />
    <title>FOLIO&FLEX</title>
  </head>
  <body>
    <main class="side-to-side">
      
      <section class="left">
          <img src="../images/white-logo.png"/>
          <h1>WELCOME!</h1>
          <hr></br></br>
          <p><b>FOLIO&FLEX</b> is a social network that focuses on professional networking and career development.
            <br><br><b>Connect</b> with other professionals, <b>share</b> your experiences and <b>find</b> jobs that might be of your interest.</p>
          <button type="submit" onclick="showSignUp()">Get Started</button>
      </section> 

      <section class="right">

        <form class="login" method="post" action="/login" id="login">
          <h1>Sign In</h1><br><br/>
          <label for="emailLogin">Email</label><br/>
          <input type="text" name="emailLogin" required><br><br/>
          <label for="passwordLogin">Password</label><br/>
          <input type="password" name="passwordLogin" required><br>
          <h5><a href="#">Forgot password?</a></h5>
          <button type="submit">Sign in</button><br>

          <!--Código de login-->
          <script>
            let formLogin = document.getElementById('login');
            formLogin.addEventListener('submit', function(event){
             event.preventDefault();
            // const data = new FormData(form);
             const dataLogin = {
              emailLogin: formLogin.emailLogin.value,
              passLogin: formLogin.passwordLogin.value
             };
  
             const xhrlogin = new XMLHttpRequest();
             xhrlogin.open('POST', '/login', true);
             xhrlogin.setRequestHeader('Content-Type', 'application/json');
             xhrlogin.send(JSON.stringify(dataLogin));
             
             xhrlogin.onload = function(){
              if(xhrlogin.status === 200)
              {
                const xhrUser = new XMLHttpRequest();
                xhrUser.open('GET', '/Profile/getUser', true);
                xhrUser.setRequestHeader('Content-Type', 'application/json');
                let response = JSON.parse(xhrlogin.responseText);
  
                if(response.result == 0)
                {
                  alert('Account not verified. Contact an administrator to verify your account.');
                }
                else
                if(response.result == 2)
                {
                  alert('Incorrect password');
                }
                else
                if(response.result == 3)
                {
                  alert('Account doesnt exist');
                }
                else
                {
                  const xhrGetUser = new XMLHttpRequest();
                 
                  xhrGetUser.open('GET', '/Home/getloggedinUserType', true);
                  xhrGetUser.setRequestHeader('Content-Type', 'application/json');
                  xhrGetUser.onload = function(){
            
                    if(xhrGetUser.status === 200)
                    {
                      let UserData = JSON.parse(xhrGetUser.responseText);
                      if(UserData[0].tipo_utilizador == 'Profissional')
                      {
                      setTimeout(3000);
                      window.location.replace("/Home");
                      }
                      if(UserData[0].tipo_utilizador == 'Empresa')
                      {
                      setTimeout(3000);
                      window.location.replace("/Portfolios");
                      }
                      if(UserData[0].tipo_utilizador == 'Admin')
                      {
                      setTimeout(3000);
                      window.location.replace('/Approve')
                      }
                
                    }
                  }
                  xhrGetUser.send();

                 /* setTimeout(3000);
                  window.location.replace("/Home");*/
                  formLogin.reset();
                }
              }
             };
           
            });
         
           
          </script> 
           <!--fim do código do login-->

        </form>

        <form class="profissional" id="profissional" method="post" action="/registoP">
          <h1>Sign Up</h1><h6><a href="javascript:signUpCompany()">Sign Up as Company</a></h6><br>

          <div class="form">
            <div class="first">
              <label for="name">Name</label><br>
              <input type="text" name="nameP" required><br>
            </div>
            <div class="second">
              <label for="email">Email</label><br>
              <input type="text" name="emailP" required><br>
            </div>
          </div>
          <br>
          <div class="form">
            <div class="first">
              <label for="password">Password</label><br/>
              <input type="password" name="passwordP" id="password" required>
            </div>
            <div class="second">
              <label for="passwordRepeat">Repeat Password</label><br/>
              <input type="password" name="passwordRepeatP" id="passwordRepeat" required><br>
            </div>
          </div>

          <br>

          <div class="form-left">
            <label for="birthday">Birth Date</label><br>
            <input type="date" class="birthday" id="birthday" name="birthdayP" required><br><br>

            <label for="gender">Select Gender</label><br><br>

            <div class="gender">
              <div>
                <label for="gender">Female</label>
                <input type="radio" id="female" name="genderP" value="Feminino" required>  
              </div>
            
              <div>
                <label for="gender">Male</label>
                <input type="radio" id="male" name="genderP" value="Masculino" required>
              </div>
          
              <div>
                <label for="gender">Other</label>
                <input type="radio" id="other" name="genderP" value="other" required>
              </div>
            </div>
          
          </div>

        
          <h5>Already have an account? <a href="javascript:hideSignUp()"> Sign In</a></h5>
          <button type="submit">Sign up</button><br>

          <!--Código de registo de um profissional-->
          <script>
            let formProfissional = document.getElementById('profissional');
            formProfissional.addEventListener('submit', function(event){
             event.preventDefault();
            // const data = new FormData(form);
             const dataP = {
              nomeP: formProfissional.nameP.value,
              emailP: formProfissional.emailP.value,
              passP: formProfissional.passwordP.value,
              birthdayP: formProfissional.birthdayP.value,
              genderP: formProfissional.genderP.value
             };

             const xhrRprofissional = new XMLHttpRequest();
             xhrRprofissional.open('POST', '/registoP', true);
             xhrRprofissional.setRequestHeader('Content-Type', 'application/json');
             xhrRprofissional.send(JSON.stringify(dataP));
             
             xhrRprofissional.onload = function(){
              if(xhrRprofissional.status === 201)
              {
                let response = JSON.parse(xhrRprofissional.responseText);
                formProfissional.reset();
                alert('Account created. You can now log-in.');
             //   console.log(response.id);
              }
           
             };
           
            });
          
          </script> 
        </form>
          <!--Fim do código de registo de um profissional-->

        <form class="company" id="company" method="post" action="/registoE"> 
          <h1>Sign Up</h1><h6><a href="javascript:showSignUp()">Sign Up as Professional</a></h6><br>

          <div class="form">
            <div class="first">
              <label for="name">Name</label><br>
              <input type="text" name="nameE" required><br>
            </div>
            <div class="second">
              <label for="email">Email</label><br>
              <input type="text" name="emailE" required><br>
            </div>
          </div>

          <br>

          <div class="form">
            <div class="first">
              <label for="password">Password</label><br/>
              <input type="password" name="passwordE" id="password" required>
            </div>
            <div class="second">
              <label for="passwordRepeat">Repeat Password</label><br/>
              <input type="password" name="passwordRepeatE" id="passwordRepeat" required><br>
            </div>
          </div>

          <h5>Already have an account? <a href="javascript:hideSignUp()"> Sign In</a></h5>
          <button type="submit">Sign up</button><br>

          <!--Código de registo de uma empresa -->
          <script>
            let formEmpresa = document.getElementById('company');
            formEmpresa.addEventListener('submit', function(event){
             event.preventDefault();
            // const data = new FormData(form);
             const dataE = {
              nomeE: formEmpresa.nameE.value,
              emailE: formEmpresa.emailE.value,
              passE: formEmpresa.passwordE.value
             };
    
             const xhrRempresa = new XMLHttpRequest();
             xhrRempresa.open('POST', '/registoE', true);
             xhrRempresa.setRequestHeader('Content-Type', 'application/json');
             xhrRempresa.send(JSON.stringify(dataE));
             
             xhrRempresa.onload = function(){
              if(xhrRempresa.status === 201)
              {
                let response = JSON.parse(xhrRempresa.responseText);
                formEmpresa.reset();
                alert('Account created. You must wait for an administrator to activate your account.');
             //   console.log(response.id);
              }
            
             }
           
            });
     
          </script> 
             <!--Fim do código de registo de uma empresa -->
        </form>
                
      </section>

    </main>
  </body>
</html>