<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scape=1.8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Unbounded&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/main.css" />
    <link rel="stylesheet" href="../styles/index.css" />
    <script
    src="https://code.jquery.com/jquery-3.6.3.js"
    integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
    crossorigin="anonymous"></script>
    <script src="../scripts/main.js"> </script>
    <script src="../scripts/index.js"> </script>
    <link rel="icon" href="images/iconic.png">
    <title>My Portfolio</title>
  </head>
  <body>
  
    <main class="side-to-side">
      <section id="pop-up" class="pop-up">


        <!--INICIO FORM LOGIN-->
        <form class="login" id="login">
          <center>
            <h1> Login </h1>
          <input type="text" name="emailLogin" placeholder="Email"><br>
          <input type="password" name="passwordLogin" placeholder="Password"><br>
          <h5><a href="#">Forgot password?</h5></a>
          <button type="button">Sign in</button><br>
          <button class="close" onclick="hide()" type="button">Close</button><br>
        </center>
        </form>
          <!--FIM FORM LOGIN-->
      </section>
      
      <section class="left">
          <img src="../images/iconicsembordas.png"/>
          <p>
            MyPortfolio is a social network that focuses on professional networking and career development.
           <br><br> Here you are able to connect with other professionals, share your experiences and find jobs that might be of your interest.
          </p>
      </section> 
      <section class="right">
        <form  class="startF">
          <h1>Get Started</h1>
          <h5>Already have an account?<a href="javascript:pop_up()" id="sign-in-pop"> Sign In </a></h5>
<hr>
       <b> <center><label for="tipo_perfil">Select profile you wish to create:</label><br></center></b>  
          <center>  <input type="radio" id="profissionalR" name="tipo_perfil" value="profissional" onchange="change_form()">
      <label for="profissionalR">Person</label>
          <input type="radio" id="empresaR" name="tipo_perfil" value="empresa" onchange="change_form()">
          <label for="empresaR">Company</label><br></center> 
        </form>
        

        <!--inicio form registo PROFISSIONAL-->
          <form method="post" class="profissional" id="profissional">
            <input type="text" name="nomeP" id="nomeP" placeholder="Name"><br>
            <input type="text" id="emailP" name="emailP" placeholder="Email"><br>
            <input type="password" id="passP" name="passP" placeholder="Password"><br>
            <input type="password" id="passvP" name="passvP" placeholder="Repeat password"><br>
            <br>
            <b><label for="birthday">Birthday date</label><br></b>
            <input type="date" id="birthdayP" name="birthdayP"><br><br>
            <b><center><label for="genderP">Select gender</label><br></center></b>
            <input type="radio" id="feminino" name="genderP" value="Feminino">
            <label for="gender">Female</label>
            <input type="radio" id="masculino" name="genderP" value="Masculino">
            <label for="gender">Male</label>
            <input type="radio" id="other" name="genderP" value="other">
            <label for="gender">Other</label><br>
            <button type="submit">Sign up</button><br>
          </form>
       <!--fim form registo PROFISSIONAL-->

       <!--inicio form registo EMPRESA-->
          <form  method="post" class="empresa" id="empresa">
            <input type="text" name="nomeE" id="nomeE" placeholder="Name"><br>
            <input type="text" name="emailE" id="emailE" placeholder="Email"><br>
            <input type="password" name="passE" id="passE" placeholder="Password"><br>
            <input type="password" name="passvE" id="passvE" placeholder="Repeat password"><br>
            <button type="submit">Sign up</button><br>
          </form>
       <!--fim form registo EMPRESA-->
       
      </section>

    </main>
    </section>

  </body>
</html>