<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scape=1.8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Unbounded&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/main.css" />
    <link rel="stylesheet" href="../styles/index.css" />
    <script src="../scripts/main.js"> </script>
    <script src="../scripts/index.js"> </script>
    <link rel="icon" href="images/iconic.png">
    <title>My Portfolio</title>
  </head>
  <body>
  
    <main class="side-to-side">
      <section id="pop-up" class="pop-up">


        <!--INICIO FORM LOGIN-->
        <form class="login" id="login" method="post" action="/login" id="login">
          <center>
            <h1> Login </h1>
          <input type="text" name="emailLogin"  placeholder="Email" required><br>
          <input type="password" name="passwordLogin"  placeholder="Password" required><br>
          <h5><a href="#">Forgot password?</h5> </a>
          <button type="submit">Sign in</button><br>
          <button class="close" onclick="hide()" type="button">Close</button><br>
        </center>
        </form>

        <script>
          var formLogin = document.getElementById('login');
          formLogin.addEventListener('submit', function(event){
           event.preventDefault();
          // const data = new FormData(form);
           const dataLogin = {
            emailLogin: formLogin.emailLogin.value,
            passLogin: formLogin.passwordLogin.value
           };

           const xhrlogin = new XMLHttpRequest();
           xhrlogin.open('POST', '/login', true);
           xhrlogin.setRequestHeader('Content-Type', 'application/json');
           xhrlogin.send(JSON.stringify(dataLogin));
           
           xhrlogin.onload = function(){
            if(xhrlogin.status === 200)
            {
              var response = JSON.parse(xhrlogin.responseText);
              formLogin.reset();

              if(response.result == 0)
              {
                alert('Account not verified. Contact an administrator to verify your account.');
              }
              else
              if(response.result == 2)
              {
                alert('Incorrect password');
              }
              else
              if(response.result == 3)
              {
                alert('Account doesnt exist');
              }
              else
              {
                window.location.replace("Team");
              }
            }
           };
          });
          
        </script>
          <!--FIM FORM LOGIN-->
      </section>

      
      <section class="left">
          <img src="../images/iconicsembordas.png"/>
          <p>
            MyPortfolio is a social network that focuses on professional networking and career development.
           <br><br> Here you are able to connect with other professionals, share your experiences and find jobs that might be of your interest.
          </p>
      </section> 
      <section class="right">
        <form  class="startF">
          <h1>Get Started</h1>
          <h5>Already have an account?<a href="javascript:pop_up()" id="sign-in-pop"> Sign In </a></h5>
<hr>
       <b> <center><label for="tipo_perfil">Select profile you wish to create:</label><br></center></b>  
          <center>  <input type="radio" id="profissionalR" name="tipo_perfil" value="profissional" onchange="change_form()">
      <label for="profissionalR">Person</label>
          <input type="radio" id="empresaR" name="tipo_perfil" value="empresa" onchange="change_form()">
          <label for="empresaR">Company</label><br></center> 
        </form>
        

        <!--inicio form registo PROFISSIONAL-->
          <form method="post" class="profissional" id="profissional">
            <input type="text" name="nomeP"  placeholder="Name" required><br>
            <input type="text"  name="emailP" placeholder="Email" required><br>
            <input type="password" name="passP" placeholder="Password" required><br>
            <input type="password"  name="passvP" placeholder="Repeat password" required><br>
            <br>
            <b><label for="birthday">Birthday date</label><br></b>
            <input type="date"  name="birthdayP" required><br><br>
            <b><center><label for="genderP">Select gender</label><br></center></b>
            <input type="radio" id="feminino" name="genderP" value="Feminino" required>
            <label for="gender">Female</label>
            <input type="radio" id="masculino" name="genderP" value="Masculino" required>
            <label for="gender">Male</label>
            <input type="radio" id="other" name="genderP" value="other" required>
            <label for="gender">Other</label><br>
            <button  type="submit">Sign up</button><br>
          </form>

          <script>
            var formProfissional = document.getElementById('profissional');
            formProfissional.addEventListener('submit', function(event){
             event.preventDefault();
            // const data = new FormData(form);
             const dataP = {
              nomeP: formProfissional.nomeP.value,
              emailP: formProfissional.emailP.value,
              passP: formProfissional.passP.value,
              birthdayP: formProfissional.birthdayP.value,
              genderP: formProfissional.genderP.value
             };

             const xhrRprofissional = new XMLHttpRequest();
             xhrRprofissional.open('POST', '/registoP', true);
             xhrRprofissional.setRequestHeader('Content-Type', 'application/json');
             xhrRprofissional.send(JSON.stringify(dataP));
             
             xhrRprofissional.onload = function(){
              if(xhrRprofissional.status === 200)
              {
                var response = JSON.parse(xhrRprofissional.responseText);
                formProfissional.reset();
                alert('Account created. You can now log-in.');
             //   console.log(response.id);
              }
           
             };
            });
          </script>
       <!--fim form registo PROFISSIONAL-->

       <!--inicio form registo EMPRESA-->
          <form  method="post" class="empresa" id="empresa">
            <input type="text" name="nomeE" id="nomeE" placeholder="Name" required><br>
            <input type="text" name="emailE" id="emailE" placeholder="Email" required><br>
            <input type="password" name="passE" id="passE" placeholder="Password" required><br>
            <input type="password" name="passvE" id="passvE" placeholder="Repeat password" required><br>
            <button type="submit">Sign up</button><br>
          </form>

          <script>
            var formEmpresa = document.getElementById('empresa');
            formEmpresa.addEventListener('submit', function(event){
             event.preventDefault();
            // const data = new FormData(form);
             const dataE = {
              nomeE: formEmpresa.nomeE.value,
              emailE: formEmpresa.emailE.value,
              passE: formEmpresa.passE.value
             };
    
             const xhrRempresa = new XMLHttpRequest();
             xhrRempresa.open('POST', '/registoE', true);
             xhrRempresa.setRequestHeader('Content-Type', 'application/json');
             xhrRempresa.send(JSON.stringify(dataE));
             
             xhrRempresa.onload = function(){
              if(xhrRempresa.status === 200)
              {
                var response = JSON.parse(xhrRempresa.responseText);
                formEmpresa.reset();
                alert('Account created. You must wait for an administrator to activate your account.');
             //   console.log(response.id);
              }
            
             };
            });
          </script>
       <!--fim form registo EMPRESA-->

      </section>

    </main>
    </section>

  </body>
</html>