<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scape=1.8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Open+Sans&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Unbounded&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="../styles/main.css" />
    <link rel="stylesheet" href="../styles/offers.css" />
    <script src="../scripts/joboffers.js"></script>
    <script src="../scripts/main.js"></script>
    <link rel="icon" href="images/iconic.png" />
    <title>My Portfolio</title>
  </head>
  <body>
    <!-- scroll to top -->
    <button onclick="topFunction()" id="myBtn" title="Go to top">︿</button>

    <!-- header -->
    <header class="side">
      <a href="Homepage">
        <img src="../images/newLogo.png" alt="Logo" />
      </a>
      <hr />
      <nav class="side-under">
        <a href="Homepage" class="link"><p>Home</p></a>
        <a href="#network" class="link"><p>My Network</p></a>
        <a href="Job offers" class="link-active"><p>Job Offers</p></a>
      </nav>
      <hr />
      <nav class="side-under">
        <a href="Team" class="link"><p>Team</p></a>
      </nav>
    </header>
    <!-- header end -->

    <!-- main -->
    <section class="main">
      <section class="main-header">
        <h1>JOB OFFERS</h1>
        <section class="buttons">
          Welcome <%= name %>
          <button onclick="signup()" id="signup" title="Sign-up">Log-out</button>
          <a href="profile.html"
            ><img src="../images/profile.png" alt="Profile"
          /></a>
        </section>
      </section>

      <script>
        function search() {
          var input, filter, ul, li, a, i, txtValue;
          input = document.getElementById("myInput");
          filter = input.value.toUpperCase();
          ul = document.getElementById("listajobs");
          li = ul.getElementsByTagName("li");

          for (i = 0; i < li.length; i++) {
            txtValue = li[i].textContent || li[i].innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
              li[i].style.display = "";
            } else {
              li[i].style.display = "none";
            }
          }
        }
      </script>

      <section class="filter">
        <input
          type="text"
          id="myInput"
          onkeyup="search()"
          class="input-text"
          placeholder="Search..."
        />
      </section>

      <section class="info" id="main-info">
        <section class="jobs-side" id="jobs-side">
          <!-- <button onclick="sort()">sort</button> -->
          <ul id="listajobs"></ul>
        </section>
      </section>
    </section>
    <!-- main end -->

    <!-- scroll-top -->
    <script>
      mybutton = document.getElementById("myBtn");
      window.onscroll = function () {
        scrollFunction();
      };

      function scrollFunction() {
        if (
          document.body.scrollTop > 100 ||
          document.documentElement.scrollTop > 100
        ) {
          mybutton.style.display = "block";
        } else {
          mybutton.style.display = "none";
        }
      }
    </script>
    <!-- scroll-top end -->
  </body>
</html>
