<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scape=1.8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Open+Sans&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Unbounded&display=swap"
      rel="stylesheet"
    />
    <!-- CSS -->
    <link rel="stylesheet" href="../styles/main.css" />
    <link rel="stylesheet" href="../styles/offers.css" />
    <!-- JavaScript -->
    <script src="../scripts/main.js"></script>
    <script src="https://kit.fontawesome.com/93b3c59277.js" crossorigin="anonymous"></script>
    <script src="../scripts/joboffers.js"></script>
    <!-- Display -->
    <link rel="icon" href="images/icon.png" />
    <title>FOLIO&FLEX</title>
  </head>
  <body>
    <!-- scroll to top -->
    <button onclick="topFunction()" id="myBtn" title="Go to top">︿</button>

    <!-- header -->
    <header class="side">
      <a href="Homepage" class="logo">
        <img src="../images/ff-logo.png" alt="Logo" />
      </a>
      <nav class="side-under">
        <nav class="side-menu">
          <a href="Home" id="home-menu" class="link">
            <img src="../images/home.png" />
            <div class="menu-text">HOME</div>
          </a>

          <a href="Job offers" id="joboffers-menu" class="link-active">
            <img src="../images/joboffers.png" />
            <div class="menu-text">JOB OFFERS</div>
          </a>

          <a href="Portfolios" id="portfolios-menu" class="link">
            <img src="../images/portfolios.png" />
            <div class="menu-text">PORTFOLIOS</div>
          </a>

          <a href="Approve" id="aprovar-utilizadores" class="link">
            <img src="../images/approve.png" />
            <div class="menu-text">APPROVE COMPANIES</div>
          </a>
        </nav>

        <nav class="side-footer">
          <a href="" id="profile-menu" class="link">
            <img src="../images/profile.png" />
            <div class="menu-text">PROFILE</div>
          </a>

          <a href="Team" class="link" id="team-page">
            <img src="../images/team.png" />
            <div class="menu-text">ABOUT US</div>
          </a>

          <a href="out" class="link">
            <img src="../images/logout.png" />
            <div class="menu-text">LOGOUT</div>
          </a>
        </nav>
      </nav>
    </header>
    <!-- header end -->

    <!-- main -->
    <section class="main">
      <section class="main-header">
        <!-- main-header start -->
        <h1>JOB OFFERS</h1>
        <section class="buttons">
          <p class="name" id="admin-name-show">Admin</p>
          <a class="name" id="user-name-show" href="Profile">  </a>
          <a href="" id="profile-hyperlink" ><img id="profile" alt="Profile" /></a>
        </section>
      </section>
      <!-- main-header end -->

      <section class="main-general">
        <div class="jobs">
          <section class="bar-up">
            <!-- jobs-header start -->
            <section class="filter2">
              <form id="clear">
                <input
                  type="text"
                  id="myInput"
                  onkeyup="search()"
                  class="input-text"
                  placeholder="Search..."
                />
                <input
                  type="text"
                  id="myInput2"
                  onkeyup="searchASC()"
                  class="input-text"
                  placeholder="Search..."
                />
                <input
                  type="text"
                  id="myInput3"
                  onkeyup="searchDESC()"
                  class="input-text"
                  placeholder="Search..."
                />
              </form>
            </section>

            <section class="filter">
              <p>Order salary by:</p>
              <div class="filter-buttons">
                <button
                  type="submit"
                  value="Descending-order"
                  onclick="imprimirArrayValorDesc()"
                >
                  Descending order
                </button>
                <button
                  type="submit"
                  value="Ascending-order"
                  onclick="imprimirArrayValorAsc()"
                >
                  Ascending order
                </button>
              </div>
            </section>
          </section>
          <!-- jobs-header end -->

          <section class="info" id="main-info">
            <!-- job-list start -->
            <section class="jobs-side" id="jobs-side">
              <!-- <button onclick="sort()">sort</button> -->
              <hr class="hr-jobs2" />
              <ul id="listajobs"></ul>
              <ul id="listajobsValorDesc"></ul>
              <ul id="listajobsValorAsc"></ul>
            </section>
          </section>
          <!-- job-list start -->
        </div>

        <section class="main-side" id="main-side" style="display : none">
      
        </section>

        <section class="main-side" id="friend-requests" style="display : none">

        </section>

        <section class="main-side" id="friends" style="display: none;">

        </section> 

      </section>
    </section>
    <!-- main end -->

    <!-- scroll-top -->
    <script>
      mybutton = document.getElementById("myBtn");
      window.onscroll = function () {
        scrollFunction();
      };

      function scrollFunction() {
        if (
          document.body.scrollTop > 100 ||
          document.documentElement.scrollTop > 100
        ) {
          mybutton.style.display = "block";
        } else {
          mybutton.style.display = "none";
        }
      }
    </script>
    <!-- scroll-top end -->
  </body>
</html>
