<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scape=1.8" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Open+Sans&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Unbounded&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../styles/main.css" />
  <link rel="stylesheet" href="../styles/profile.css" />
  <script src="../scripts/profile.js"></script>
  <script src="https://kit.fontawesome.com/93b3c59277.js" crossorigin="anonymous"></script>
  <link rel="icon" href="images/ff-logo.png" />
  <title>FOLIO&FLEX</title>
</head>

<body>
  <!-- scroll to top -->
  <button onclick="topFunction()" id="myBtn" title="Go to top">︿</button>

  <!-- header -->
  <header class="side">
    <a href="Homepage" class="logo">
      <img src="../images/ff-logo.png" alt="Logo" />
    </a>
    <nav class="side-under">
      <nav class="side-menu">
        <a href="../Home" id="home-menu" class="link">
          <img src="../images/home.png" />
          <div class="menu-text">home</div>
        </a>

        <a href="../Job offers" id="joboffers-menu" class="link">
          <img src="../images/joboffers.png" />
          <div class="menu-text">JOB OFFERS</div>
        </a>

        <a href="Portfolios" id="portfolios-menu" class="link">
          <img src="../images/portfolios.png" />
          <div class="menu-text">PORTFOLIOS</div>
        </a>

        <a href="Approve" id="aprovar-utilizadores" class="link">
          <img src="../images/approve.png" />
          <div class="menu-text">APPROVE COMPANIES</div>
        </a>
      </nav>

      <nav class="side-footer">
        <a href="Profile" id="profile-menu" class="link-active">
          <img src="../images/profile.png" />
          <div class="menu-text">PROFILE</div>
        </a>

        <a href="../Team" class="link" id="team-page">
          <img src="../images/team.png" />
          <div class="menu-text">ABOUT US</div>
        </a>

        <a href="../out" class="link">
          <img src="../images/logout.png" />
          <div class="menu-text">LOGOUT</div>
        </a>
      </nav>

    </nav>
  </header>
  <!-- header end -->

  <!-- main -->
  <section class="main">

    <div id="page-mask"></div>
    <div id="pop-up-edit" class="pop-up-edit">

      <div class="pop-up-header">
        <h3>Edit profile</h3>
        <button class="close-btn" onclick="closeEditIntro()"><i class="fa-solid fa-x"
            style="font-size: 20px; color: #7088B0;"></i></button>
      </div>

      <div class="pop-up-form"
        <p>* Indicates required</p>
        <form class="editProfile" method="post" action="/Profile/editUserIntro" id="editProfile">
          <h3>General</h3>
          <div class="name-occupation">
            <div class="first">
              <label for="nameUser">Name*</label><br>
              <input id="nameUser" type="text" name="nameUser" required><br>
            </div>
            <div class="second">
              <label for="email">Occupation*</label><br>
              <input id="headlineUser" type="text" name="headline" required><br>
            </div>
          </div>

          <div class="field">
            <h3>Location</h3>
            <label for="locationUser">Country/Region*</label><br />
            <input id="locationUser" type="text" name="locationUser">
          </div>

          <div class="field">
            <h3>User information</h3>
            <label for="birthUser">Birthdate</label><br />
            <input type="date" id="birthUser" name="birthUser"><br><br>

            <b><label for="generoUser">Gender:</label></b>
            <input type="radio" id="female" name="generoUser" value="Feminino"> Female <!-- 1 TRUE-->
            <input type="radio" id="male" name="generoUser" value="Masculino"> Male <!-- 0 - FALSE-->
            <input type="radio" id="other" name="generoUser" value="other"> Other <!-- 0 - FALSE-->
          </div>

          <br>
      </div>
      <div class="button-save">
        <button class="save" type="submit">Save</button>
      </div>
    </div>
  </form>
  <!--------------------------------------------------------------->
  <div id="pop-up-edit-description" class="pop-up-edit-description">
   
          <div class="pop-up-header">
          <h3>Edit about</h3>
          <button class="close-btn" onclick="closeEditDescription()"><i class="fa-solid fa-x" style="font-size: 20px; color: #7088B0;"></i></button>
          </div>
    
          <hr >
          <div class="pop-up-form">
          <form class="editDescriptionProfileP" method="post" action="/Profile/editUserDescription" id="editDescriptionProfileP">
            <p>You can write about your years of experience, industry, or skills. People also talk about their achievements or previous job experiences.</p>
            <textarea wrap="hard" id="descriptionUser" name="descriptionUser"></textarea><br>
        </div>
        <hr >
        <button type="submit">Save</button>
      </form>
      
  </div>
  <!--------------------------------------------------------------->

    <div class="main-header"> <!-- main-header start -->
      <h1>Profile</h1>
      <div class="buttons">
        <p class="name" id="admin-name-show">Admin</p>
        <a class="name" id="user-name-show" href="Profile"> </a>
        <a href="Profile"><img id="profile" alt="Profile" /></a>
      </div>
    </div>

    <section class="profile-gray-area">
      <div class="profile-main">
        <img alt="profile-img" id="profile-img" class="profile-img">
        <div class="profile-white-part">
          <div class="main-profile-stuff">
            <h2 id="profile-name" class="profile-name"></h2>
            <p id="profile-headline"></p>
            <p id="profile-address"></p>
          </div>
          <div class="editIntro-button">
            <button  class="edit-button" onclick="openEditIntro()"><i class='far fa-edit' style='font-size:24px'></i></button>
           </div>
        </div>

      </div>
      <div class="profile-description-area">
        <div class="profile-description-header">
          <h3>About</h3>
          <button class="edit-button" onclick="openEditDescription()"><i class='far fa-edit' style='font-size:24px'></i></button>
        </div>
        <p id="profile-description"> </p>
      </div>

      <div class="profile-description-area">
        <div class="profile-description-header">
          <h3>Experience</h3>
          <button class="edit-button" onclick="openEditExperience()"><i class='far fa-edit' style='font-size:24px'></i></button>
        </div>
        <p id="profile-description"> </p>
      </div>

    </section>
      <!-------------------------------------------------------------------->


    
    </section>


    <!-- main end -->

    <!-- scroll-top -->
    <script>
      mybutton = document.getElementById("myBtn");
      window.onscroll = function () {
        scrollFunction();
      };

      function scrollFunction() {
        if (
          document.body.scrollTop > 100 ||
          document.documentElement.scrollTop > 100
        ) {
          mybutton.style.display = "block";
        } else {
          mybutton.style.display = "none";
        }
      }
    </script>
    <!-- scroll-top end -->
</body>

</html>