<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scape=1.8" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Open+Sans&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Unbounded&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../styles/main.css" />
  <link rel="stylesheet" href="../styles/profile.css" />
  <script src="../scripts/profile.js"></script>
  <script src="https://kit.fontawesome.com/93b3c59277.js" crossorigin="anonymous"></script>
  <script src="https://mozilla.github.io/pdf.js/build/pdf.js"></script>
  <link rel="icon" href="../images/ff-logo.png" />
  <title>FOLIO&FLEX</title>
</head>

<body>
  <!-- scroll to top -->
  <button onclick="topFunction()" id="myBtn" title="Go to top">︿</button>

  <!-- header -->
  <header class="side">
    <a href="Homepage" class="logo">
      <img src="../images/ff-logo.png" alt="Logo" />
    </a>
    <nav class="side-under">
      <nav class="side-menu">
        <a href="../Home" id="home-menu" class="link">
          <img src="../images/home.png" />
          <div class="menu-text">home</div>
        </a>

        <a href="../Job offers" id="joboffers-menu" class="link">
          <img src="../images/joboffers.png" />
          <div class="menu-text">JOB OFFERS</div>
        </a>

        <a href="Portfolios" id="portfolios-menu" class="link">
          <img src="../images/portfolios.png" />
          <div class="menu-text">PORTFOLIOS</div>
        </a>

        <a href="Approve" id="aprovar-utilizadores" class="link">
          <img src="../images/approve.png" />
          <div class="menu-text">APPROVE COMPANIES</div>
        </a>
      </nav>

      <nav class="side-footer">
        <a href="" id="profile-menu" class="link-active">
          <img src="../images/profile.png" />
          <div class="menu-text">PROFILE</div>
        </a>

        <a href="../Team" class="link" id="team-page">
          <img src="../images/team.png" />
          <div class="menu-text">ABOUT US</div>
        </a>

        <a href="../out" class="link">
          <img src="../images/logout.png" />
          <div class="menu-text">LOGOUT</div>
        </a>
      </nav>

    </nav>
  </header>
  <!-- header end -->

  <!-- main -->
  <section class="main">

    <div class="main-header"> <!-- main-header start -->
      <h1>Portfolio</h1>
      <div class="buttons">
        <p class="name" id="admin-name-show">Admin</p>
        <a class="name" id="user-name-show" href="Profile"> </a>
        <a href="" id="profile-hyperlink"><img id="profile" alt="Profile" /></a>
      </div>
    </div>
     
    <div id="page-mask"></div>
    <div id="pop-up-edit" class="pop-up-edit">

      <div class="pop-up-header">
        <h3>Edit profile</h3>
        <button class="close-btn" onclick="closeEditIntro()"><i class="fa-solid fa-x"
            style="font-size: 20px; color: #7088B0;"></i></button>
      </div>

      <div class="pop-up-form">
        <form class="editProfile" method="POST" id="editProfile">
          <div class="name-occupation">
            <div class="first">
              <label for="nameUser">Name*</label><br>
              <input id="nameUser" type="text" name="nameUser" required><br>
            </div>
            <div class="second">
              <label for="email">Occupation*</label><br>
              <input id="headlineUser" placeholder="Ex. Software Engineer" type="text" name="headline" required><br>
            </div>
          </div>

          <div class="field">
            <h3>Location</h3>
            <label for="locationUser">Country/Region*</label><br />
            <input id="locationUser" placeholder="Ex. Lisbon, Portugal" type="text" name="locationUser">
          </div>

          <div class="field">
            <h3>User information</h3>
            <label for="birthUser">Birthdate</label><br />
            <input type="date" id="birthUser" name="birthUser"><br><br>

            <b><label for="generoUser">Gender:</label></b>
            <input type="radio" id="female" name="generoUser" value="Feminino"> Female <!-- 1 TRUE-->
            <input type="radio" id="male" name="generoUser" value="Masculino"> Male <!-- 0 - FALSE-->
            <input type="radio" id="other" name="generoUser" value="other"> Other <!-- 0 - FALSE-->
            <br><br>  
            <input type="checkbox" name="visualizacaoUser" id="visualizacaoUser"> I allow companies to see my profile
          </div>
      </div>
      <div class="button-save">
        <button class="save" type="submit">Save</button>
      </div>
  </form>
</div>

<!------------------------------------------------------------------------>

<div id="pop-up-editEmpresa" class="pop-up-edit-description">
   
  <div class="pop-up-header">
  <h3>Edit profile</h3>
  <button class="close-btn" onclick="closeEditIntroEmpresa()"><i class="fa-solid fa-x" style="font-size: 20px; color: #7088B0;"></i></button>
  </div>

  <div class="pop-up-form">
  <form class="editProfileEmpresa" method="post"  id="editProfileEmpresa">
    <label for="urlEmpresa">Website</label><br>
    <input type="url" name="urlEmpresa" id="urlEmpresa"><br><br>
  </div>
<div class="button-save">
  <button class="save" type="submit">Save</button>
</div>
</form>

</div>

<!------------------------------------------------------------------->
<div id="pop-up-edit-description-empresa" class="pop-up-edit-description">
   
  <div class="pop-up-header">
  <h3>Edit about</h3>
  <button class="close-btn" onclick="closeEditDescriptionE()"><i class="fa-solid fa-x" style="font-size: 20px; color: #7088B0;"></i></button>
  </div>

  <div class="pop-up-form">
  <form class="editDescriptionProfileE" method="post"  id="editDescriptionProfileE">
    <br>
    <p>Describe your company</p>
    <textarea wrap="hard" id="descriptionE" name="descriptionUser" cols="30" rows="10"></textarea><br>
</div>
<div class="button-save">
  <button class="save" type="submit">Save</button>
</div>
</form>

</div>
  <!--------------------------------------------------------------->
  <div id="pop-up-edit-description" class="pop-up-edit-description">
   
          <div class="pop-up-header">
          <h3>Edit about</h3>
          <button class="close-btn" onclick="closeEditDescription()"><i class="fa-solid fa-x" style="font-size: 20px; color: #7088B0;"></i></button>
          </div>
    
          <div class="pop-up-form">
          <form class="editDescriptionProfileP" method="post"  id="editDescriptionProfileP">
            <p>You can write about your years of experience, industry, or skills. People also talk about their achievements or previous job experiences.</p>
            <br>
            <textarea wrap="hard" id="descriptionUser" name="descriptionUser" cols="30" rows="10"></textarea><br>
        </div>
        <div class="button-save">
          <button class="save" type="submit">Save</button>
        </div>
      </form>
      
  </div>


    <!--------------------------------------------------------------->
    <div id="pop-up-add-portfolio" class="pop-up-edit-description">
   
      <div class="pop-up-header">
      <h3>Add portfolio</h3>
      <button class="close-btn" onclick="closeAddPortfolio()"><i class="fa-solid fa-x" style="font-size: 20px; color: #7088B0;"></i></button>
      </div>

      <div class="pop-up-form">
      <form class="addPortfolioForm" method="post"  id="addPortfolioForm">
      <label for="portfolioUser">Submit portfolio</label><br>
        <input type="file" name="portfolioUser" id="portfolioUser"> <br><br>
        <input type="checkbox" name="visibilityPortfolio" id="visibilityPortfolio">
        I allow others to see my portfolio 
      </div>
    <div class="button-save">
      <button class="save" type="submit">Save</button>
    </div>
  </form>
  
</div>


  <!------INICIO POP-UP de adicionar experiência profissional-->
  <div id="pop-up-add-experience" class="pop-up-add-experience">
    <div class="pop-up-header">
    <h3>Add experience</h3>
    <button class="close-btn" onclick="closeAddExperience()"><i class="fa-solid fa-x" style="font-size: 20px; color: #7088B0;"></i></button>
    </div>

    <div class="pop-up-form">
    <form class="addExperienceForm" method="post" id="addExperienceForm">
      <label for="titleUser">Title*</label><br>
      <input id="titleUser" type="text" placeholder="Ex. Data Analyst" name="titleUser" required><br>
      <br>
      <label for="EmploymentType">Employment type*</label><br>
      <select id="regime" name="employmentType">
        <option value="Full-time">Full-time</option>
        <option value="Part-ime">Part-time</option>
        <option value="Self-employed">Self-employed</option>
        <option value="Freelance">Freelance</option>
        <option value="Contract">Contract</option>
        <option value="Internship">Internship</option>
        <option value="Apprenticeship">Apprenticeship</option>
        <option value="Seasonal">Seasonal</option>
      </select>
      <br><br>
      <label for="companyExperience">Company name*</label><br>
      <input id="companyExperience" placeholder="Ex. Microsoft" type="text" name="companyExperience" required><br><br>
      <label for="locationExperience">Location*</label><br>
      <input id="locationExperience" placeholder="Ex. Lisbon, Portugal" type="text" name="locationExperience" required><br><br>
      <label for="locationtype">Location type*</label><br>
      <select id="locationtype" name="locationtype" required>
        <option value="On-site">On-site</option>
        <option value="Hybrid">Hybrid</option>
        <option value="Remote">Remote</option>
      </select><br><br>
    <input type="checkbox" id="currentlyworking" name="currentlyworking"> I am currently working in this role
    <br><br>
    <label for="startdate">Start date*</label><br>
    <input type="month" id="experiencestartdate" name="experiencestartdate" required><br>
    <label for="enddate" id="enddate-label">End date</label><br>
    <input type="month" id="experienceEndDate" name="experienceEndDate"><br><br>
    <label for="experienceDescription" class="experienceDescription">Description</label><br>
    <textarea id="experienceDescription" class="experienceDescription" cols="30" rows="10"></textarea>
    </div>
    <div class="button-save">
      <button class="save" type="submit">Save</button>
    </div>
</form>
</div>
<!------FIM POP-UP de adicionar experiência profissional-->
  <!-----INICIO POP-UP de adicionar educação------------->
  <div id="pop-up-add-education" class="pop-up-add-education">
    <div class="pop-up-header">
    <h3>Add education</h3>
    <button class="close-btn" onclick="closeAddEducation()"><i class="fa-solid fa-x" style="font-size: 20px; color: #7088B0;"></i></button>
    </div>

    <div class="pop-up-form">
    <form class="addEducationForm" method="post"  id="addEducationForm">
      <label for="educationSchool">School*</label><br>
      <input type="text" name="educationSchool" id="educationSchool" required><br><br>
      <label for="educationDegree">Degree*</label><br>
      <input type="text" name="educationDegree" placeholder="Ex. Bachelor's" id="educationDegree" required><br><br>
      <label for="educationField">Field of study*</label><br>
      <input type="text" name="educationField" placeholder="Ex. Business" id="field" required><br><br>
      <input type="checkbox" name="currentlystudying" id="currentlystudying">
      I am currently studying this degree<br><br>
      <label for="startDateEducation">Start date*</label><br>
      <input type="month" name="startDateEducation" id="startDateEducation" required><br>
      <label for="endDateEducation" id="endDateEducation-label">End date</label><br>
      <input type="month" name="endDateEducation" id="endDateEducation"><br><br>
      <label for="gradeEducation" id="grade-label">Grade</label><br>
      <input type="text" name="gradeEducation" id="gradeEducation"><br><br>
      <label for="activitiesEducation">Activities and societies</label><br>
      <textarea name="activitiesEducation" id="activitiesEducation" placeholder="Ex. Volleyball, Marching band" cols="30" rows="10"></textarea><br>
      <label for="descriptionEducation">Description</label><br>
      <textarea name="descriptionEducation" id="descriptionEducation" cols="30" rows="10"></textarea>
   </div>
  <div class="button-save">
    <button class="save" type="submit">Save</button>
  </div>
</form>
</div>

  <!--------------------------------------------------------------->
  <section class="main-general">     
    <section class="profile-gray-area">
      <div class="profile-main">
        <img alt="profile-img" id="profile-img" class="profile-img">
        <div class="profile-white-part">
          <div class="main-profile-stuff">
            <h2 id="profile-name" class="profile-name"></h2>
            <p id="profile-headline"></p>
            <a id="profile-url" target="_blank" style="display: none; text-transform: none;"></a>
            <p id="profile-address"></p>
          </div>
          <div class="editIntro-button" id="edit-button">
            <button class="edit-button" onclick="openEditIntro()"><i class='far fa-edit' style='font-size:24px'></i></button>
          </div>
        </div>
       
      </div>
      
      <div class="profile-description-area">
        <div class="profile-description-header">
          <h3>About</h3>
          <button id="edit-button-description" class="edit-button" onclick="openEditDescription()"><i class='far fa-edit' style='font-size:24px'></i></button>
        </div>
        <p id="profile-description"> </p>
      </div>

      <div class="profile-description-area" id="experience-area" >
        <div class="profile-description-header">
          <h3>Experience</h3>
          <button id="add-button-experience" class="edit-button" onclick="openAddExperience()">
            <i class='fas fa-plus' style='font-size:24px'></i></button>
        </div>
      <div class="profile-main-content" id="experiences">

      </div>
        </div>

      
        <div class="profile-description-area" id="education-area">
          <div class="profile-description-header">
            <h3>Education</h3>
            <button  id="add-button-education" class="edit-button" onclick="openAddEducation()">
              <i class='fas fa-plus' style='font-size:24px'></i>
            </button>
          </div>
        <div class="profile-main-content" id="education">
          
        </div>
        </div>


        
      </div>


      



    </section>
      <!-------------------------------------------------------------------->
      <section class="main-side" id="main-side" style="display : none">
      
      </section>

      <section class="main-side" id="friend-requests" style="display : none">

      </section>

      <section class="main-side" id="friends" style="display: none;">

      </section> 

        </section>
    </section>
  


    <!-- main end -->

    <!-- scroll-top -->
    <script>
      mybutton = document.getElementById("myBtn");
      window.onscroll = function () {
        scrollFunction();
      };

      function scrollFunction() {
        if (
          document.body.scrollTop > 100 ||
          document.documentElement.scrollTop > 100
        ) {
          mybutton.style.display = "block";
        } else {
          mybutton.style.display = "none";
        }
      }
    </script>
    <!-- scroll-top end -->
</body>

</html>