<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scape=1.8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Unbounded&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/main.css" />
    <link rel="stylesheet" href="../styles/profile.css" />
    <script src="../scripts/profile.js"></script>
    <script src="https://kit.fontawesome.com/93b3c59277.js" crossorigin="anonymous"></script>  <link rel="icon" href="images/ff-logo.png" />
    <title>FOLIO&FLEX</title>
  </head>
  <body>
    <!-- scroll to top -->
    <button onclick="topFunction()" id="myBtn" title="Go to top">︿</button>

    <!-- header -->
    <header class="side">
      <a href="Homepage" class="logo">
        <img src="../images/ff-logo.png" alt="Logo" />
      </a>
      <nav class="side-under">
        <nav class="side-menu">
          <a href="Home" id="home-menu" class="link">
            <img src="../images/home.png"/>
            <div class="menu-text">home</div>
          </a>
    
          <a href="Job offers" id="joboffers-menu" class="link">
            <img src="../images/joboffers.png"/>
            <div class="menu-text">JOB OFFERS</div>
          </a>

          <a href="Portfolios" id="portfolios-menu"class="link">
            <img src="../images/portfolios.png"/>
            <div class="menu-text">PORTFOLIOS</div>
          </a>

          <a href="Approve" id="aprovar-utilizadores" class="link">
            <img src="../images/approve.png"/>
            <div class="menu-text">APPROVE COMPANIES</div>
          </a>
        </nav>
    
        <nav class="side-footer">
          <a href="Profile" id="profile-menu" class="link-active">
            <img src="../images/profile.png"/>
            <div class="menu-text">PROFILE</div>
          </a>

          <a href="Team" class="link" id="team-page">
            <img src="../images/team.png"/>
            <div class="menu-text">ABOUT US</div>
          </a>

          <a href="out" class="link">
            <img src="../images/logout.png"/>
            <div class="menu-text">LOGOUT</div>
          </a>
        </nav>

      </nav>
    </header>
    <!-- header end -->

    <!-- main -->
    <section class="main">

      <div id="page-mask"></div>
      <section id="pop-up-edit" class="pop-up-edit">
   
        <section class="pop-up-header">
        <h3>Edit profile</h3>
        <button class="close-btn" onclick="closeEditIntro()"><i class="fa-solid fa-x" style="font-size: 20px; color: #7088B0;"></i></button>
        </section>

        <hr >
        <section class="pop-up-form">

      <p>* Indicates required</p>
        <form class="editProfileP" method="post" action="/Profile/editUserIntro" id="editProfileP">
          <label for="nameUser">Name*</label><br/>
          <input id="nameUser" type="text" name="nameUser" ><br><br/>
          <label for="headline">Headline*</label><br/>
          <input id="headlineUser" type="text" name="headline" ><br><br/>
          <hr>
          <h3>Location</h3>
          <label for="locationUser">Country/Region*</label><br/>
          <input id="locationUser" type="text" name="locationUser" ><br><br/>
          <hr>
          <h3>Portfolio</h3>
          <label for="portfolioUser">Submit portfolio</label><br/>
          <input type="file" name="portfolioUser" ><br><br/>
          <label for="approvalPortfolio">Do you wish to allow others to see your portfolio?</label>
          <input type="radio" id="radio0" name="portfolioApproval" value="0" > No <!-- 0 - FALSE-->
          <input type="radio" id="radio1" name="portfolioApproval" value="1" > Yes   <!-- 1 TRUE-->
      </section>
      <hr >
      <button type="submit">Save</button>
    </form>
    
     </section>

     <!--------------------------------------------------------------->
     <section id="pop-up-edit-description" class="pop-up-edit-description">
   
      <section class="pop-up-header">
      <h3>Edit about</h3>
      <button class="close-btn" onclick="closeEditDescription()"><i class="fa-solid fa-x" style="font-size: 20px; color: #7088B0;"></i></button>
      </section>

      <hr >
      <section class="pop-up-form">
      <form class="editDescriptionProfileP" method="post" action="/Profile/editUserDescription" id="editDescriptionProfileP">
        <p>You can write about your years of experience, industry, or skills. People also talk about their achievements or previous job experiences.</p>
        <textarea wrap="hard" id="descriptionUser" name="descriptionUser"></textarea><br>
    </section>
    <hr >
    <button type="submit">Save</button>
  </form>
  
   </section>
   <!--------------------------------------------------------------->

      <section class="main-header"> <!-- main-header start -->
        <h1>Profile</h1>
        <section class="buttons">
          <p class="name" id="admin-name-show">Admin</p>
          <a class="name" id="user-name-show" href="Profile">  </a>
          <a href="Profile" ><img id="profile" alt="Profile" /></a>
          </section>
          </section>
      
        <section class="profile-gray-area">
          <section class="profile-main">
                 <img alt="profile-img" id="profile-img" class="profile-img">
                 <section class="profile-white-part">
                   <section class="main-profile-stuff">
                 <h2 id="profile-name" class="profile-name"></h2>
                 <p id="profile-headline"></p>
                 <p id="profile-address"></p>
                
                   </section>
                   <section class="editIntro-button">
                    <button  class="edit-button" onclick="openEditIntro()"><i class='far fa-edit' style='font-size:24px'></i></button>
                   </section>
                   
            
               </section>
            
         </section>
         <section class="profile-description-area">
            <section class="profile-description-header">
          <h3>About</h3>
          <button  class="edit-button" onclick="openEditDescription()"><i class='far fa-edit' style='font-size:24px'></i></button>
        </section>
          <p id="profile-description">  </p> 
        </section>

        <section class="profile-description-area">
          <section class="profile-description-header">
        <h3>Experience</h3>
        <button  class="edit-button" onclick="openAddExperience()"><i class='fas fa-plus' style='font-size:24px'></i></button>
      </section>
        <p id="profile-description">  </p> 
      </section>
      <!--FAZER A PARTE DA WORK EXPERIENCE, SEGUIR MOCKUPS-->
  
  </section>

 
    <!-- main end -->
    
    <!-- scroll-top -->
    <script>
      mybutton = document.getElementById("myBtn");
      window.onscroll = function () {
        scrollFunction();
      };

      function scrollFunction() {
        if (
          document.body.scrollTop > 100 ||
          document.documentElement.scrollTop > 100
        ) {
          mybutton.style.display = "block";
        } else {
          mybutton.style.display = "none";
        }
      }
    </script>
    <!-- scroll-top end -->
  </body>
</html>