.users-list {
    width: 100%;
    text-align: -webkit-center;
}

#users-data {
    border-collapse: collapse;
    margin: 20px;
    align-self: center;
}
  
#users-data th, #users-data td {
    border: 1px solid #7087b092;
    padding: 8px;
    text-align: center;
}
  
#users-data th {
    background-color: #7087b092;
    font-weight: bold;
    text-align: center;
}

.editBtn {
    background-color: #7087b092;
    margin: 5px;
    padding: 10px;
    border: none;
    border-radius: 20px;
}

.deleteBtn {
    background-color: #7087b092;
    margin: 5px;
    padding: 10px;
    border: none;
    border-radius: 20px;
}

.deactivateBtn {
    background-color: #7087b092;
    margin: 5px;
    padding: 10px;
    border: none;
    border-radius: 20px;
}

.editBtn:hover {
    cursor: pointer;
    background-color: rgb(9, 77, 9);
    color: white;
}

.deleteBtn:hover {
    cursor: pointer;
    background-color: rgb(152, 2, 2);
    color: white;
}

.deactivateBtn:hover {
    cursor: pointer;
    background-color: rgb(152, 2, 2);
    color: white;
}

/** MEDIA QUERIES **/
@media only screen and (max-width: 480px) {
    .side {
        width: 100%;
    }
}