body {
    background-color: #ECEDF1;
    background-image: url(../images/darkblue.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.side-to-side {
    background-image: url(../images/darkblue.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: rgba(0, 0, 0, 0.141);
    background-blend-mode: darken;
    display: flex;
    margin: 50px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 30px 10px;
    color: white;
}

.left {
    padding: 20px;
    margin: 20px;
    margin-left: 70px;
    width: 45%;
    height: 87%;
}

.left img {
    width: 15%;
}

.left h1 {
    font-family: 'Unbounded', cursive;
    font-size: 50px;
}

.left hr {
    border: 4px solid white;
    width: 100px;
    float: left;
}

.left p {
    width: 70%;
}

.left button {
    width: 200px;
    height: 40px;
    border-radius: 20px;
    border-style: none;
    color: white;
    font-family: 'Unbounded', cursive;
    font-size: 15px;
    background-image: linear-gradient(to right, #314755 0%, #7088B0  51%, #314755  100%);
    transition: 0.5s;
    background-size: 200% auto;
}

.left button:hover {
    background-position: right center;
    cursor: pointer;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right .login {
    background-color: rgba(255, 255, 255, 0.10);
    padding: 70px;
    margin: 20px;
    font-family: 'Unbounded', cursive;
}

.login h1 {
    text-align: center;
    font-size: 40px;
    margin: 0;
}

.login label {
    float: left;
    height: 30px;
    margin-left: 10px;
}

.login input {
    background-color: #ecedf157;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 30px 10px;
    border-radius: 20px;
    border-style: none;
    width: 300px;
    height: 40px;
    color: white;
}

input[type=text] {
    padding: 12px 20px;
    box-sizing: border-box;
    border-style: none;
    color: white;
    letter-spacing: 2px;
}

input:focus {
    background-color: #ecedf157;
    color: white;
    border-color: white;
    border-width: 5px;
}

input[type=password] {
    padding: 12px 20px;
    box-sizing: border-box;
    border-style: none;
}

.login a {
    text-decoration: none;
    color: white;
}

.login h5 {
    text-align: center;
}

.login a:hover {
    color: rgba(255, 255, 255, 0.503);
}

.login button {
    width: 300px;
    height: 40px;
    border-radius: 20px;
    border-style: none;
    color: white;
    font-family: 'Unbounded', cursive;
    font-size: 15px;
    background-image: linear-gradient(to right, #314755 0%, #7088B0  51%, #314755  100%);
    transition: 0.5s;
    background-size: 200% auto;
}

.login button:hover {
    background-position: right center;
    cursor: pointer;
}

/** PROFISSIONAL */

.right .profissional {
    background-color: rgba(255, 255, 255, 0.10);
    padding: 40px;
    margin-right: 50px;
    font-family: 'Unbounded', cursive;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profissional h1 {
    text-align: center;
    font-size: 40px;
    margin: 0;
}

.profissional h6 {
    font-weight: 100;
    text-align: center;
    margin: 0;
}

.profissional .form {
    display: flex;
}

.profissional .form .second {
    margin-left: 20px;
}

.profissional .form-left {
    align-self: start;
  
}

.profissional label {
    float: left;
    height: 20px;
    margin-left: 10px;
}

.profissional input[type=text] {
    background-color: #ecedf157;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 30px 10px;
    border-radius: 20px;
    border-style: none;
    width: 250px;
    height: 30px;
    color: white;
}

.profissional input[type=password] {
    background-color: #ecedf157;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 30px 10px;
    border-radius: 20px;
    border-style: none;
    width: 250px;
    height: 30px;
    color: white;
}

.profissional input[type=date] {
    margin-left: 10px;
}

.profissional input[type=button] {
    font-family: 'Unbounded', cursive;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.503);
    margin: 5px;
    background: transparent;
    border: none;
}

.profissional input[type=button]:hover {
    color: white;
    cursor: pointer;
}

.profissional a {
    text-decoration: none;
    color: white;
    text-align: center;
}

.profissional h5 {
    text-align: center;
}

.profissional a:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.503);
    text-align: center;
}

.profissional button {
    width: 300px;
    height: 40px;
    border-radius: 20px;
    border-style: none;
    color: white;
    font-family: 'Unbounded', cursive;
    font-size: 15px;
    background-image: linear-gradient(to right, #314755 0%, #7088B0  51%, #314755  100%);
    transition: 0.5s;
    background-size: 200% auto;
}

.profissional button:hover {
    background-position: right center;
    cursor: pointer;
}

/** COMPANY **/

.company {
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.10);
    padding: 40px;
    margin-right: 50px;
    font-family: 'Unbounded', cursive;
}

.company h1 {
    text-align: center;
    font-size: 40px;
    margin: 0;
}

.company h6 {
    font-weight: 100;
    text-align: center;
    margin: 0;
}

.company .form {
    display: flex;
}

.company .form .second {
    margin-left: 20px;
}

.company label {
    float: left;
    height: 30px;
    margin-left: 10px;
}

.company input {
    background-color: #ecedf157;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 30px 10px;
    border-radius: 20px;
    border-style: none;
    width: 250px;
    height: 40px;
    color: white;
}

.company input[type=text] {
    padding: 12px 20px;
    box-sizing: border-box;
    border-style: none;
    color: white;
    letter-spacing: 2px;
}

.company input:focus {
    background-color: #ecedf157;
    color: white;
    border-color: white;
    border-width: 5px;
}

.company input[type=password] {
    padding: 12px 20px;
    box-sizing: border-box;
    border-style: none;
}

.company a {
    text-decoration: none;
    color: white;
    text-align: center;
}

.company h5 {
    text-align: center;
}

.company a:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.503);
    text-align: center;
}

.company button {
    width: 300px;
    height: 40px;
    border-radius: 20px;
    border-style: none;
    color: white;
    font-family: 'Unbounded', cursive;
    font-size: 15px;
    background-image: linear-gradient(to right, #314755 0%, #7088B0  51%, #314755  100%);
    transition: 0.5s;
    background-size: 200% auto;
}

.company button:hover {
    background-position: right center;
    cursor: pointer;
}

.profissional .gender {
    display: flex;
}

.profissional .gender label {
    font-size: 13px;
    height: 20px;
}

/** MEDIA QUERIES **/
@media only screen and (max-width: 1024px) {
    body {
        height: 100%;
        background-image: url(../images/secundary-bg-image.jpg);
        background-repeat: repeat;
    }

    .side-to-side {
        background-image: none;
        width: 90%;
        height: 100%;
        flex-direction: column;
        margin: 0;
        box-shadow: none;
        align-self: center;
    }

    .left {
        align-self: center;
        align-items: center;
        width: 90%;
        margin: 0;
        text-align: -webkit-center;
    }

    .left img {
        width: 50%;
        align-self: center;
    }

    .left hr {
        width: 100%;
    }

    .right {
        align-self: center;
        align-items: center;
        width: 90%;
        margin: 0;
    }

    .right .profissional {
       margin: 0;
    }

    .profissional .form {
        flex-direction: column;
        width: 90%;
    }

    .profissional .form .second {
        margin: 10px 0px;
    }

    .right .company {
        margin: 0;
     }
 
     .company .form {
         flex-direction: column;
         width: 90%;
     }
 
     .company .form .second {
         margin: 10px 0px;
     }
}