body {
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    background: white;
    margin: 0px;
    display: flex;
}

/*-------------------------------------
              Side Menu
--------------------------------------*/
.side {
    margin: 10px;
}

.side .logo img {
    margin: 10px;
    height: 85px;
}

.side-under {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 84.3%;
    justify-content: space-between;
}

.side-under .link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.side-under a {
    font-family: 'Unbounded', cursive;
    font-size: 90%;
    display: flex;
    text-decoration: none;
    color: black;
    margin-top: 20px;
}

.side-under a:hover {
    background-color: #7087b092;
    border-radius: 20px;
}

.side-under a:hover img {
    opacity: 0;
    transform: translateY(-38px);
    transition: 0.5s;
    background-color: #7087b092;
}

.side-under a:hover .menu-text {
    opacity : 1;
    transform: translateY(0px);
}

.side-under img {
    width: 20px;
    height: 20px;
    margin: 20px;
    transition: 0.5s;
}

.side-under .link-active {
    background-color: #7088B0;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-text {
    text-align: center;
    opacity: 0;
    transition: 0.5s;
    position: absolute;
    text-transform: uppercase;
    transform: translateY(30px);
}

/** SIDE MENU **/
.side-menu {
    margin: 20px;
}

/** SIDE FOOTER **/
.side-footer {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*-------------------------------------
                 Main
--------------------------------------*/
.main {
    background: #ECEDF1;
    border-radius: 20px;
    width: 100%;
    margin: 10px;
}

.main-header {
    display: flex;
    justify-content: space-between;
}

.main-header h1 {
    font-family: 'Unbounded', cursive;
    color: #7088B0;
    margin-left: 30px;
    font-size: 30px;
    text-transform: uppercase;
}

.main-header input[type=text] {
    background-color: #f2f2f8;
    color: #adb1ba;
    padding: 10px;
    border: none;
    border-color: #adb1ba;
    border-radius: 20px;
    margin-top: 30px;
    margin-left: 200px;
    width: 200px;
    height: 20px;
    justify-content: flex-end;
}

.main-header ::placeholder {
    color: #adb1ba;
}

.main-general {
    display: flex;
    justify-content: space-between;
    height: 87%;
}

.main-side {
    background-color: white;
    width: 25%;
    margin: 0px 20px 20px 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.main-side h2 {
    font-family: 'Unbounded', cursive;
    text-transform: uppercase;
}

.main-side .user {
    background-color: #ECEDF1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 7%;
    padding: 10px;
    border-radius: 15px;
}


.main-side .user .user-info {
    width: 60%;
}

.main-side .user .user-info h3 {
    margin: 0;
}

.main-side .user .user-info h6 {
    margin: 0;
    color: #636363;
}

.main-side .user .user-info a {
    color: black;
    text-decoration: none;
}

.main-side .user .user-info a:hover {
    color: #7088B0;
    text-decoration: none;
}

.main-side .user .user-image img {
    width: 50px;
    border-radius: 50%;
}

.main-side .user .add-buttons button{
    background: none;
    border: none;
    padding: 10px;
}

.main-side .user .add-buttons:hover {
    cursor: pointer;
}

.main-side .user .add-buttons:hover .add-icon{
    display: none;
}

.main-side .user .add-buttons .add-button-hover {
    background: none;
    border: none;
    display: none;
}

.main-side .user .add-buttons:hover .add-button-hover {
    display: block;
    cursor: pointer;
}

.main-side .user .add-buttons img {
    width: 20px;
}


/*-------------------------------------
            Login Buttons
--------------------------------------*/
.buttons {
    display: flex;
    justify-content: end;
}

.buttons button {
    font-family: 'Unbounded', cursive;
    color: #5654ab;
    font-size: 20px;
    border: none;
    background: none;
}

#admin-name-show {
    display: none;
    margin-right: 100px;
}

.buttons .name {
    font-family: 'Unbounded', cursive;
    margin: 34px 7px;
    text-decoration: none;
    color: black;
}

.buttons img {
    width: 50px;
    margin: 20px 40px 0 0;
    border-radius: 50%;
}

.buttons button:hover {
    color: #8481cf;
    cursor: pointer;
    text-align: end;
}

/*-------------------------------------
             Scroll Button
--------------------------------------*/
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    color: #7088B0; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}
  
#myBtn:hover {
    background-color: rgba(0, 74, 173, 0.5); /* Add a dark-grey background on hover */
}

/** MEDIA QUERIES **/
@media only screen and (max-width: 1024px) {
    body {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .side, .side-under, .side-menu, .side-footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .main {
        width: 95%;
        height: 100%;
    }

    .main-general {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    
    .main-side {
        width: 90%;
    }

    .main-header h1 {
        font-size: 15px;
    }
}

@media only screen and (max-width: 480px) {
    body {
        width: fit-content;
    }

    .main {
        inline-size: fit-content;
    }
}