/*-------------------------------------
           Job offers page
--------------------------------------*/
.jobs {
    width: 70%;
    background-color: white;
    border-radius: 20px;
    margin: 0px 20px 20px 20px;
}

.info {
    display: flex;
    justify-content: center;
}

.jobs-side {
    width: 100%;
    height: 70%;
    overflow: auto;
    max-height: 65vh;
}

.jobs-side::-webkit-scrollbar {
    display: none;
}
  
.jobs-side {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.arrow {
    margin-left: 90%;
    width: 20px;
}

.bar-up {
    display: flex;
    justify-content: space-between;
    padding: 0px 20px 20px 20px;
}

#myInput2 {
    display: none;
}

#myInput3 {
    display: none;
}

.listajobs {
    list-style-type: none;
}

.hr-jobs {
    width: 95%;
    margin-left: 0;
}

.hr-jobs2 {
    margin-left: 40px;
    width: 91%;
}

.input-text {
    background-color: #f2f2f8;
    color: #adb1ba;
    padding: 10px;
    border: none;
    border-color: #adb1ba;
    border-radius: 20px;
    width: 200px;
    height: 15px;
    margin-top: 53px;
}

.filter button {
    background-color: #7087b092;
    padding: 10px;
    border: none;
    border-radius: 20px;
    text-align: center;
}

.filter button:hover {
    cursor: pointer;
    background-color: #7088B0;
    color: white;
}

.filter-buttons {
    display: flex;
}

.filter-buttons button{
    margin: 0px 20px;
}

.filter2 {
    justify-content: center;
}

.listajobs {
    width: 100%;
}

.filter p {
    text-align: center;
}

/** MEDIA QUERIES **/
@media only screen and (max-width: 480px) {
    .jobs {
        width: 90%;
        height: 100%;
    }

    .filter-buttons {
        flex-direction: column;
    }

    .hr-jobs2 {
        width: 85%;
    }

    .info {
        height: 100%;
    }

    .jobs-side {
        overflow: none;
        max-height: fit-content;
    }
}