/*-------------------------------------
           Job offers page
--------------------------------------*/
.info {
    padding-left: 50px;
    padding-top: 20px;
    max-height: 100vh;
    display: flex;
}

.jobs-side {
    width: 60%;
    overflow: auto;
    max-height: 500px;
    padding-left: 5px;
}

.jobs-side::-webkit-scrollbar {
    display: none;
}
  
.jobs-side {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.arrow {
    margin-left: 90%;
    width: 20px;
}

.bar-up {
    display: flex;
    width: 55.5%;
    justify-content: space-between;
    margin-left: 93px;
}

#myInput2 {
    display: none;
}

#myInput3 {
    display: none;
}

.filter button {
    margin-right: 10px;
    width: 130px;
    height: 30px;
}

.listajobs {
    list-style-type: none;
    margin-bottom: 20px;
}

.hr-jobs {
    width: 95%;
    margin-left: 0;
}

.hr-jobs2 {
    margin-left: 40px;
    width: 88%;
}

.input-text {
    background-color: #f2f2f8;
    color: #adb1ba;
    padding: 10px;
    border: none;
    border-color: #adb1ba;
    border-radius: 20px;
    width: 200px;
    height: 10px;
    margin-top: 53px;
}