/*-------------------------------------
           Job offers page
--------------------------------------*/
.info {
    padding-left: 50px;
    padding-top: 20px;
    max-height: 100vh;
    display: flex;
}

.jobs-side {
    width: 50%;
    overflow: auto;
    max-height: 500px;
    padding-left: 5px;
}

.arrow{
    
    margin-left: 90%;
    width: 20px;
}


.filter {
    display: flex;
    justify-content: end;
    width: 48.2%;
    margin-left: 4%;
    margin-top: 20px;
}

.filter p{
    margin-right: 10px;
}

.filter button{
    margin-right: 10px;
    width: 130px;
    height: 30px;
    margin-top: 15px;
}


.listajobs {
    list-style-type: none;
    margin-bottom: 20px;
}

.hr-jobs{
    width: 95%;
    margin-left: 0;
}

.hr-jobs2{
    margin-left: 40px;
    width: 88%;

}

/*.input-text {
    background-color: #f2f2f8;
    color: #adb1ba;
    padding: 10px;
    border: none;
    border-color: #adb1ba;
    border-radius: 20px;
    width: 200px;
    height: 20px;
    margin-top: 13px;
}*/