.input-text {
    background-color: #f2f2f8;
    color: #adb1ba;
    padding: 10px;
    border: none;
    border-color: #adb1ba;
    border-radius: 20px;
    width: 200px;
    height: 15px;
    margin-top: 53px;
}