.input-text {
    background-color: #f2f2f8;
    color: #adb1ba;
    padding: 10px;
    border: none;
    border-color: #adb1ba;
    border-radius: 20px;
    width: 200px;
    height: 30px;
    margin: 20px 0px;
}

@media only screen and (max-width: 1024px) {
    .input-text {
        height: 15px;
    }
}