.profile-main{
    background-color: #7088B0;;
    width: 810px;
    margin: 0 2%;
    border-radius: 12px;
    padding-top: 150px;
}

.profile-white-part{
    background-color: #f2f2f8;
    display: flex;
    border-radius: 12px;
    justify-content: space-between;
}

.main-profile-stuff{
   padding-top: 2%;
    width: 30%;
    margin: 2% 1.5%;
    line-height: 10px;
    text-transform: capitalize;
    border-radius: 12px;
    text-align: center;
    
}

.profile-description-area{
    background-color: white;
    border-radius: 12px;
    width: 50%;
    height: 120px;
    margin: 1.5% 5%;
    padding: 0% 1%;
    text-align: center;
    overflow: auto;
}

.profile-img{
    width: 130px;
    height: 130px;
    margin-top: -65px;
    margin-left: 50px;
    border-radius: 50%;
    position: absolute;
}

.profile-gray-area{
    background-color: white;
    height: 80%;
    width: 840px;
    margin: 0 1.5%;
    border-radius: 12px;
    padding-top: 20px;
}

.profile-experience{
    width: 810px;
    height: 240px;
    border-radius: 12px;
    background-color: white;
    margin: 2%;
}

.profile-experience p{
    text-transform: uppercase;
    margin: 2%;
    line-height: 50px;
    font-weight: bold;
}

.edit-button{
    width:2.5%;
    height: 5%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    position: relative;
    left: 760px;
    bottom: 130px;
}

.pop-up-edit{
    background-color: white;
    width: 50%;
    height: 80%;
    position: absolute;
    z-index: 1;
    margin: 5% 15%;
    border-radius: 12px;
    display: none;


}

.pop-up-header{
    display: flex;
    justify-content: space-between; 
    height: 12%;
    position: sticky;
}



.close-btn{
    width:2.5%;
    height: 5%;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    margin: 4%;

}



.pop-up-form{
    overflow: auto;
    width: 100%;
    height: 72%;
}




#page-mask {
position: fixed;
left: 0;
right: 0;
bottom: 0;
top: 0;
background-color: rgba(0,0,0,0.6);
z-index: 1;
display: none;
}

