.profile-white-part{
    background-color: #f2f2f8;
    display: flex;
    border-radius: 12px;
    justify-content: space-between;
    padding-right: 15px;
}

.main-profile-stuff {
    padding-top: 2%;
    width: 275px;
    margin: 2% 1.5%;
    z-index: 1;
    text-transform: capitalize;
    border-radius: 12px;
    text-align: center;

}

.profile-description-area {
    background-color: #f2f2f8;
    border-radius: 12px;
    margin: 1.5%;
    padding: 0% 2%;
    overflow: hidden;
}



.profile-description-area h3 {
    font-size: 22px;
    margin-bottom: 0;

}

.profile-img {
    width: 130px;
    height: 130px;
    margin-top: -93px;
    margin-left: 11.5%;
    border-radius: 50%;
    position: relative;
    top: 40px;
    right: 10px;
}

.profile-gray-area {
    background-color: white;
    height: 94%;
    width: 65%;
    margin: 0 1.5%;
    border-radius: 12px;
    padding-top: 20px;
    padding-right: 15px;
    overflow: auto;
}

.profile-gray-area::-webkit-scrollbar {
    display: none;
}

.profile-gray-area {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.edit-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    margin-top: 15px;
    /*   position: relative;
    left: 750px;
    top: 50px;*/
}

.profile-description-header {
    display: flex;
    justify-content: space-between;
}

#profile-description {
    font-size: 15px;
}

#page-mask {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
    display: none;
}

.pop-up-edit{
    background-color: white;
    width: 50%;
    height: 80%;
    position: absolute;
    z-index: 2;
    margin: 5% 15%;
    border-radius: 12px;
    display: none;
}

.pop-up-edit-description{
    background-color: white;
    width: 50%;
    position: absolute;
    z-index: 2;
    margin: 5% 15%;
    border-radius: 12px;
    display: none;
}





/*-------------------------------------
                 MINE
--------------------------------------*/
.profile-main {
    background-color: #7088B0;
    margin: 0 2%;
    border-radius: 12px;
    padding-top: 150px;
}

.profile-name {
    font-family: 'Unbounded', cursive;
    text-align: center;
    margin: 1%;
}

.profile-headline {
    margin-left: 32px;
}

.profile-address {
    margin-left: 32px;
}

/** EDIT PROFILE **/
.pop-up-header {
    display: flex;
    justify-content: space-between;
    position: sticky;
    align-items: center;
}

.pop-up-header h3 {
    font-family: 'Unbounded', cursive;
    margin: 20px;
}

.close-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    margin: 4%;
}

.pop-up-form {

    overflow: auto;
    width: 100%;
    height: 72%;
}

.pop-up-form::-webkit-scrollbar {
    display: none;
}

.pop-up-form {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.pop-up-form h3 {
    font-family: 'Unbounded', cursive;
}

.pop-up-edit {
    display: none;
    background-color: white;
    width: 50%;
    height: 80%;
    position: absolute;
    z-index: 2;
    margin: 0% 15%;
    border-radius: 12px;
    display: none;
}

.pop-up-edit .name-occupation {
    display: flex;
    justify-content: center;
}

.pop-up-edit .name-occupation .second {
    margin-left: 100px;
}

.pop-up-form input[type=text] {
    background-color: #F1F1F1;
    color: rgb(56, 56, 56);
    height: 30px;
    padding: 2px 10px;
    margin: 5px 0px 0px 0px;
    letter-spacing: 2px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(240, 240, 240);
    border-radius: 15px;
}

.pop-up-form input[type=text]:focus {
    background-color: #F5F5F5;
    outline: 0;
    box-shadow: rgba(240, 240, 240, 0.7) 0px 0px 30px 10px;
}

.field {
    text-align: center;
    margin-top: 40px;
}

textarea {
    width: 90%;
    height: 20%;
}

/** BUTTON **/
.save {
    width: 300px;
    height: 40px;
    border-radius: 20px;
    border-style: none;
    color: white;
    font-family: 'Unbounded', cursive;
    font-size: 15px;
    background-image: linear-gradient(to right, #314755 0%, #7088B0 51%, #314755 100%);
    transition: 0.5s;
    background-size: 200% auto;
    margin: 20px 0px 0px 0px;
}

.save:hover {
    background-position: right center;
    cursor: pointer;
}

.button-save {
    text-align: center;
}

.pop-up-form {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.pop-up-form textarea {
    margin: 10px;
}

.pop-up-edit-description {
    padding: 0px 30px 30px 30px;
}

.profile-name {
    height: 20px;
}

#profile-headline {
    height: 7px;
}

.pop-up-add-experience{
 
    background-color: white;
    width: 50%;
    position: absolute;
    z-index: 2;
    margin: 0% 15%;
    border-radius: 12px;
    display: none;
    height: 80%;

}

.pop-up-add-education{
    background-color: white;
    width: 50%;
    position: absolute;
    z-index: 2;
    margin: 0% 15%;
    border-radius: 12px;
    display: none;
    height: 80%;
}

.img-experience{
    width: 50px;
    margin-right: 10px;
}


.profile-content{
    margin-top: 1%;
    display: flex;
    width: 100%;
}

.content-part{
    display: flex;
    width: 260px;
    justify-content: space-between;

}

.content-part-icon .icon1{
    margin: 10px;
    cursor: pointer;
}

.content-part-icon .icon2{
    cursor: pointer;
}

.experience-date, .experience-localidade-tipo{
    font-size: small;
    color: gray;
}

.experience-title{
    font-weight: 600;
}







