.profile-main{
    background-color: #7088B0;;
    width: 810px;
    margin: 0 2%;
    border-radius: 12px;
    padding-top: 150px;
}

.profile-white-part{
    background-color: #f2f2f8;
    display: flex;
    border-radius: 12px;
    justify-content: space-between;
}

.main-profile-stuff{
   padding-top: 2%;
    width: 25%;
    margin: 2% 1.5%;
    line-height: 10px;
    border-radius: 12px;
    text-align: center;
    
}

.profile-description-area{
    background-color: white;
    border-radius: 12px;
    width: 50%;
    height: 120px;
    margin: 1.5% 5%;
    padding: 1%;
    text-align: center;
}

.profile-img{
    width: 130px;
    height: 130px;
    margin-top: -90px;
    margin-left: 50px;
    border-radius: 50%;
    position: absolute;
}

.profile-gray-area{
    background-color: white;
    height: 80%;
    width: 840px;
    margin: 0 1.5%;
    border-radius: 12px;
    padding-top: 20px;
}

.profile-experience{
    width: 810px;
    height: 240px;
    border-radius: 12px;
    background-color: white;
    margin: 2%;
}

.profile-experience p{
    text-transform: uppercase;
    margin: 2%;
    line-height: 50px;
    font-weight: bold;
}