
.side-to-side{
    display: flex;
    height: 50vh;
    width: 80%;
    margin: auto auto;
    justify-content: space-evenly;
    
}

.left img{
    width: 200px;
}

.left p{
    width: 500px;
    color: white;
}

.right button{
    width: 300px;
    height: 30px;
}

.right{
    margin-top: 5%;

   

}

.right form{
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 10px 10px 5px #706dca;
}

.right hr{
    color: white;
    width: 300px;
    margin: 10px 0;
}

.right p{
    font-size: medium;
    color: #706dca;
}

a{
    text-decoration: none;
}

input[type=text] {
    width: 300px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }

  input[type=password] {
    width: 300px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
