doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scape=1.8')
  meta(http-equiv='X-UA-Compatible', content='ie=edge')
  link(rel='preconnect', href='https://fonts.googleapis.com')
  link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin='')
  link(href='https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Open+Sans&display=swap', rel='stylesheet')
  link(href='https://fonts.googleapis.com/css2?family=Unbounded&display=swap', rel='stylesheet')
  link(rel='stylesheet', href='../styles/main.css')
  link(rel='stylesheet', href='../styles/team.css')
  script(src='../scripts/main.js')
  link(rel='icon', href='images/iconic.png')
  title My Portfolio
// scroll to top
button#myBtn(onclick='topFunction()', title='Go to top') &#xFE3F;
// header
header.side
  a(href='Homepage')
    img(src='../images/newLogo.png', alt='Logo')
  hr
  nav.side-under
    a.link(href='Homepage')
      p Home
    a.link(href='#network')
      p My Network
    a.link(href='Job offers')
      p Job Offers
  hr
  nav.side-under
    a.link-active(href='Team')
      p Team
// header end
// main
section.main
  section.main-header
    h1 MEET THE TEAM
    section.buttons
      button#login(onclick='login()', title='Login') Login 
      button#signup(onclick='signup()', title='Sign-up')  Sign-up
      a(href='profile.html')
        img(src='../images/profile.png', alt='Profile')
  section.team
    .member
      img(src='../images/member1.jpg', alt='Member 1')
      h2 Laura Costa
      h6 Web Designer &amp; Developer
      p
        | I&apos;m a 21 years old developer and together with my colleague Joana have decided to create the next big professional social media network.
        br
        br
        | With this project we want to facilitate professional growth for both companies and professionals.
        br
        br
        | &#x2746;
    .member
      img(src='../images/member2.jpg', alt='Member 2')
      h2 Joana Silva
      h6 Project Manager &amp; Developer
      p
        | I&apos;m a 20 years old developer that joined hands with Laura in this project.
        br
        br
        | Our goal was to offer an easier job hunting process for both companies and professionals and for professionals to share their work experience in a well organized network.
        br
        br
        | &#x2741;
// main end
// scroll-top
script.
  mybutton = document.getElementById("myBtn");
  window.onscroll = function () {
  scrollFunction();
  };
  function scrollFunction() {
  if (
  document.body.scrollTop > 100 ||
  document.documentElement.scrollTop > 100
  ) {
  mybutton.style.display = "block";
  } else {
  mybutton.style.display = "none";
  }
  }
// scroll-top end
