.description {
    display: flex;
}

.description .description- {
    background: radial-gradient(circle, rgba(132,129,207,1) 0%, rgba(86,84,171,1) 100%);
    margin-left: 30px;
    width: 825px;
    height: 200px;
    border-radius: 20px;
    text-align: center;
}

.description .description- h2{
    font-family: 'Unbounded', cursive;
    color: white;
}

.description .description- p{
    color: white;
    margin-top: 35px;
}

.profile {
    display: flex;
    background: radial-gradient(circle, rgba(132,129,207,1) 0%, rgba(86,84,171,1) 100%);
    width: 400px;
    height: 200px;
    border-radius: 20px;
    text-align: center;
    float: right;
    margin-right: 20px;
}

.profile p{
    color: white;
}