/*-------------------------------------
                 TEAM
--------------------------------------*/
.team {
    display: flex;
    justify-content: space-around;
}

.team .member {
    background: rgb(132,129,207);
    background: radial-gradient(circle, rgba(132,129,207,1) 0%, rgba(86,84,171,1) 100%);
    margin-left: 30px;
    margin-top: 50px;
    width: 400px;
    height: 500px;
    border-radius: 20px;
    text-align: center;
}

.team .member img {
    width: 200px;
    height: 200px;
    margin-top: -50px;
    box-shadow: 10px 5px 5px #5554abd8;
}

.team .member h2{
    font-family: 'Unbounded', cursive;
    color: white;
    height: 3px;
}

.team .member h6{
    color: #5654ab;
}

.team .member p{
    color: white;
    width: 300px;
    margin-left: 50px;
}